@import "bootstrap/scss/bootstrap.scss";
@import "abstract/base";

// variables declaration
$primary_color: #46139f;
$btn_b: #ff7f50;

.common-btn {
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.btn-a {
  @extend .common-btn;
  background: $primary_color;
}
.btn-b {
  @extend .common-btn;
  background: $btn_b;
}
.btn-cancel {
  @extend .common-btn;
  border: 1px solid $primary_color;
  background: white;
  color: $primary_color;
}
.all-contries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
